body  {

}
#header {
  position: fixed;
  top: 0;
  background-color: white;
  align-items: center;
}
#header-img {
  max-height: 50px;
}
#nav-navbar {

}
.nav-link {

}
#home-div {

}
#about-div  {

}
#contact-div  {

}
#video  {
  width: 560px;
  height: 315px;
}
#form {

}
#email  {

}
#submitted  {

}
